venv/
.venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
*.log
.DS_Store
dist/
build/
.gradle/
*.apk
*.aar
.idea/
.vscode/
*.swp
*.bak
*.tmp
temp/
/tmp/
*.jpg
*.png
WheatLeafRust/
datasets/
